header {
  width: 100vw;
  height: 4vh;
  max-width: var(--max-width--pc);
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: var(--color-secondary);

  z-index: 1;
}
header > section {
  width: 100%;
  max-width: var(--max-width--pc);
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  gap: 15px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px;
  float: left;
}
.logo_text {
  text-decoration: none;
  margin-left: 10px;
}
.nav_menu {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 5px;
  margin-left: auto;
  float: right;
  height: 100%;
}
.line {
  color: aqua;
  opacity: 0.5;
}
.mobile_nav {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    height: 10vh;
  }
  .mobile_nav {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: right;
    font-size: var(--font-size--large);
    padding-right: 5px;
    width: 100px;
    float: right;
  }
  .nav_menu {
    display: none;
  }
}
